.col-no-padding {
  padding: 0;
}
.pagination{
  display: flex;
  justify-content: center;
}
body {
  #wrapper{
    .navbar{
      background: #3B5998;
      .navbar-brand{
        color: white;
        font-size: 30px;
      }
      .dropdown-toggle{
        color: white;
        &:hover{
          color: #3B5998;
        }
        &:focus{
          color: #3B5998;
        }
      }
    }
  }
  .post-me {
    line-height: 25px;
  }
  .form-post{
    padding-top: 0;
  }
  .content-right {
    padding: 15px;
    padding-top: 0;
    table{
      text-align: center;
    }
    .btn-add {
      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

/***********************************************Page***************************************************/
body {
  .content-right {
    .title-content-right {
    }
    .form-horizontal {
      max-width: 500px;
    }
  }
}